<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-8 offset-2">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <%= paper.title %>
                </h5>
                <p class="card-text">
                    <%= paper.description %>
                </p>
                <p class="card-text">
                    <a href="<%= paper.link %> ">View Paper</a>
                </p>
            </div>

            <% if (currentUser && (paper.author.equals(currentUser._id))) { %>
                <div class="card-body">
                    <a class="card-link btn btn-info text-white"
                        href="/papers/<%= paper._id %>/edit">Edit</a>
                    <form class="d-inline" action="/papers/<%= paper._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            <div class="card-footer text-muted">
                <a href="/papers">All Papers</a>
            </div>
        </div>
    </div>
    <% if (currentUser) { %>
        <h2>Leave a Suggestion</h2>
            <div class="col-6">
                <form action="/papers/<%= paper._id %>/suggestion" class="mb-3 validated-form" novalidate
                    method="post">
                    <div class="mb-3">
                        <label class="form-label" for="body">Suggestion</label>
                        <textarea class="form-control" name="suggestion[body]" id="body" cols="30" rows="4"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks Good!!
                        </div>
                        <div class="invalid-feedback">
                            Give Description
                        </div>
                    </div>
                    <button class='btn btn-success'>Submit</button>
                </form>
            </div>
    <% } %>
    <div class="col-6">
        <% for(let suggestion of paper.suggestions) {%>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= suggestion.author.username %>
                    </h5>
                    <p class="card-text">Suggestion: <%= suggestion.body %>
                    </p>
                    <% if (currentUser && (suggestion.author.equals(currentUser._id))) { %>
                        <form
                            action="/papers/<%= suggestion._id %>/suggestion/<%= suggestion._id %>?_method=DELETE"
                            method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    const paper = <%- JSON.stringify(paper) %>;
</script>